html,body{
  margin: 0;
  padding: 0;
  height: 100%;
}

.pageWrapper {
  height: 100vh; 
  display: flex;
  flex-direction: column;
}

.leftPanel {

  background-color: #0c0d0e; 
  
  box-shadow: 
    inset 40px 0 0 #FF6B00,     
    10px 0 20px -5px rgba(0, 0, 0, 0.8),    
    inset 0 0 10px rgba(0, 0, 0, 0.5); 

  /* Cores e Layout */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  text-align: center;
  /* Garantindo que a capa ocupe metade da tela ou um tamanho fixo, se for o caso */
  /* Se estiver em um layout flex, considere definir uma largura (ex: width: 50vw;) */
}



.leftContent {
  max-width: 500px;
}

.rightPanel {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background-color: #f8f9fa;
}

.formContainer {
  width: 100%;
  max-width: 400px;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.inputWithIcon {
  position: relative;
}

.iconInputWrapper {
  position: relative;
}

.inputIcon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: #6c757d;
  font-size: 1rem;
  pointer-events: none;
}

.iconInputWrapper input {
  padding-left: 36px !important;
}

.passwordInput {
  padding-left: 36px !important;
}

.eyeIcon {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #6c757d;
}

.customButton {
 background-color: #00070e;
  border: none;
  padding: 10px;
  font-weight: bold;
  font-size: 16px;
  border-radius: 8px;
}

.customButton:hover {
  background-color: #FF6B00;
  
}

.customButton:active {
  background-color: #e06c00; 
  transform: translateY(1px); 
}

.toggleLink {
  color: #00070e;
  cursor: pointer;
  font-weight: 500;
}