.MenuLateral {
    width: 170px;
    max-width: 170px;
    background-color: #343a40;
    color: rgb(245, 10, 10);
    height: 91.5vh;
    display: flex;
    flex-direction: column;
    padding: 0 5px;
    transition: width 0.5s ease;
}

/* Estilo base dos links do menu */
.MenuLateral a {    
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    transition: color 0.3s;
    margin-top: 15px;
    gap: 15px;
}



.MenuLateral a:hover {
    color: #FF6347;
}

/* Estilo dos itens de navegação */
.MenuLateral .nav-link a {
    display: flex;
    align-items: center;
    padding: 30px;
    color: rgb(202, 18, 18);
    text-decoration: none !important;
    transition: background-color 0.3s;
    
}

/* Hover nos itens de navegação */
.MenuLateral .nav-link:hover a {
    background-color: #FF6347;
}

/* Ícones */
.icon {
    display: flex;
    align-items: center;    
    justify-content:space-around;
    font-size: 22px;    
    margin-left: 10px;

   
 
}

.icon:hover {
    color: #FF6347;
}

/* Itens personalizados */
.navItemCustom {
    padding: 6px;
    color: rgb(228, 10, 10);
    margin-right: 5px;
}

.navItemCustom a {
    color: rgb(240, 10, 10);
    text-decoration: none;
}

.MenuLateral .navItemCustom a:hover {
    color: #FF6347;
}

/* Menu expandido: ícones e texto alinhados à esquerda */
.MenuLateral:not(.collapsed) .nav-link a {
    justify-content: flex-start;
    padding-left: 10px;
}

/* Menu retraído */
.MenuLateral.collapsed {
    width: 55px;
    padding: 0;
}

/* Menu retraído: centraliza ícones */
.MenuLateral.collapsed .nav-link a {
    justify-content: center;
    align-items: center;
}

.MenuLateral.collapsed .icon {
    font-size: 30px;
    padding: 4px;
    margin-right: 0;
}

/* Hover da nav-link diretamente no container */
.MenuLateral .nav-link:hover {
    color: #FF6347;
}

/* Botão de alternância do menu */
.toggleButton {
    margin: 0;
    padding: 0;
    background-color: #343a40;
    color: #FF6347;
}
