.home {
    height: 100vh;

  }
  body, .home {
    margin: 0;
    padding: 0;
  }
  
  .menuLateralCol {
    transition: all 0.3s ease-in-out;
  }
  
  .contentCol {
    padding: 1px;
    background-color: #fff;
  }
  
  .contentWrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  /* Quando o menu estiver colapsado */
  .MenuLateral.collapsed {
    width: 50px; /* Ajuste de largura para quando estiver colapsado */
  }
  
  /* Quando o menu estiver expandido */
  .MenuLateral {
    display: flex;
    justify-content: center;
    margin: 0;
    width: 200px; /* Largura normal do menu */
  }
  
  .container {
    margin: 0;
  } 

  .navegacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px;

  }

  .container,
.row {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}