.customCard {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f2f2f2;
  transition: background-color 0.3s ease;
  height: 100%;
}
  .card:hover {
    background-color: #e0e0e0; /* Cor de fundo ao passar o mouse */
  }

  .card h2 {
    margin: 0;
    padding: auto;
    font-size: 24px;
    color: #333;
  }

  .card p {
    font-size: 16px;
    color: #666;
  }