.header {
    /* --- Propriedades para fixar no topo --- */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    /* --- Seus estilos combinados --- */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    background-color: #343a40;
    border-bottom: solid 3px #fff;
    width: 100%;
    height: 60px;
}

.navItemCustom {
    padding: 6px;
    color: white;
    margin-right: 5px;
    font-size: 18px;
}

/* Estilo Padrão (Normal e Visitado) */
/* O :visited é crucial para não ficar azul depois de clicar */
.navItemCustom a,
.navItemCustom a:visited {
    color: white !important; /* Força o branco */
    text-decoration: none !important; 
    font-size: 18px;
    font-weight: bold;
    transition: font-size 0.3s ease, color 0.3s ease;
}

/* Estilo de Destaque (Hover, Foco e Ativo) */
/* Aqui definimos o laranja para todas as interações */
.navItemCustom a:hover,
.navItemCustom a:focus,
.navItemCustom a.active { 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    color: #FF6347 !important; /* Laranja */
}

/* Botão de Sair */
.logoutButton {
    color: #dc3545; 
    cursor: pointer;
    font-weight: bold;
    padding: 8px 16px; 
}

.logoutButton:hover {
    color: #a71d2a;
}

.nomeUsuario {
    color: #fffefe; /* Cor Laranja */
    font-weight: bold;
    margin-right: 15px; /* Espaço entre o nome e o botão Sair */
    font-size: 16px;
    text-transform: capitalize; /* Deixa a primeira letra maiúscula */
    margin-left: 10px;
    text-decoration: none;
}

.nomeUsuario a {
    color: #fffefe; /* Cor Laranja */
    text-decoration: none;
}

.logoutButton {
    color: #dc3545; 
    cursor: pointer;
    font-weight: bold;
    padding: 8px 16px; 
}

.logoutButton:hover {
    color: #a71d2a;
}

.userIcon {
    font-size: 24px;
    color: #ffffff;
    text-decoration: none;
    color: #f04d30;
}
.userIcon:hover {
    color: #ff6347;
}

.userToggle {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    box-shadow: none;
    text-decoration: none;
    color: #a71d2a;
}

.userToggle:hover {
    color: #ff6347;
}

.sair{
    color: #dc3545;
    font-weight: bold;
}

